.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 5rem 0;
}

.link {
  text-decoration: none;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 100px;
  animation: myAnim 2s ease 0s 1 normal none;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}
