.paginationList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.paginationList li {
  margin: 0 5px;
}

.paginationList button {
  padding: 5px 10px;
  
  border: 1px solid #ccc;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.num_pagination {
  background-color: white;
}

.num_pagination:hover {
  background-color: #d2d2d2;
}

.paginationList button:focus {
  outline: none;
}

.first_last {
  background-color: #183153;
  color: white;
}

.first_last:hover {
  background-color: #190153;
}

/* Estilo para el botón activo sin el efecto de hover */
.paginationList button.active:not(:active) {
  background-color: #63e6be;
  color: #000000;
}
