.container {
  background-image: linear-gradient(rgba(82, 81, 81, 0.5), rgba(82, 81, 81, 0.9)), url("src/assets/countries-nav.jpeg");
  background-position: top;
  background-size: cover;
}

.container ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.li1 {
  flex-grow: 0.20;
}

.li2 {
  flex-grow: 1;
}

.link {
  color: #000000;
  text-decoration: none;
  /* text-shadow: 0.2px 0.2px 0px rgb(255, 255, 255); */
  flex-grow: 1;
  font-weight: 1000;
}

.container li img {
  width: 30px;
  margin: 6px 12px 0 0;
}
