.container {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.796),
      rgba(0, 0, 0, 0.342)
    ),
    url("src/assets/countries-nav.jpeg");
  background-position: top;
  background-size: cover;
}

.container ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.li1 {
  flex-grow: 1;
  font-size: 18px;
}

.li2 {
  flex-grow: 3;
}

.link {
  color: #ffffff;
  text-decoration: none;
  /* text-shadow: 0.2px 0.2px 0px rgb(255, 255, 255); */
  font-weight: 500;
}

.link:hover {
  color: #dbdada;
}

.container li i {
  font-size: 25px;
  margin-left: 25px;
}

.container i:hover {
  color: #dbdada;
}
